/* You can add global styles to this file, and also import other style files */
html{
  margin: 0;
  font-size: calc(15px + 0.390625vw);
}


h1{
  font-size: 4rem;
  font-weight:500;
}


p{
  font-size: .8rem;
  font-family: 'Poppins', sans-serif;
}
